@page
@model IndexModel
@{
    ViewData["Title"] = "ContainerApps Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sharnitha deployed at appservice!!..Work </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
