@page
@model IndexModel
@{
    ViewData["Title"] = "ContainerApps Page";
}
 
<div class="text-center">
    <h1 class="display-4">Welcome Sharnitha at appservice!!.. Appservice working from app gateway :) </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Webapps with ASP DOTNET Core</a>.</p>
</div>
