@page
@model IndexModel
@{
    ViewData["Title"] = "ContainerApps Page";
}
 
<div class="text-center">
    <h1 class="display-4">Welcome Sharnitha at appservice!!.. Appservice working check replace token :) </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building Web apps with ASP Dotnet Core Appservice</a>.</p>
</div>
