@page
@model IndexModel
@{
    ViewData["Title"] = "ContainerApps Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sharnitha for Appservice SSH Checking!! :)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building apps </a>.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">aspnetcore apps </a>.</p>
     <h1 class="display-4">WSharnitha! Appservice Deployment</h1>
</div>
